<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Saved Articles</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
      </li> --}}
    </ul>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Saved Articles</h1>

  </div>
</div>

{{#each Article}}
{{#if saved}}
<div class="container-fluid article-container">

  <div class='alert alert-success text-center'>
    <h4>{{title}}</h4>
  </div>
  <div class="card">
    <div class="card-header text-center">
      <h4>Article Link: {{link}}</h4>
    </div>
    <div class="card-body text-center">
      <h4>
        <img src={{image}} width = "200px" height = "200px"/>
      </h4>
      <a href="#" class="btn btn-danger btn-lg delete" data="{{_id}}" role="button">Delete Article</a>
     
      <form>
        <div class="form-group">
          <label for="comment" class = "note"  >Add note about article:</label>
          <textarea class="form-control" rows="3"  id = "note{{_id}}">{{note}}</textarea>
        </div>
      <button type="submit" class="btn btn-primary btn-lg note" data="{{_id}}">Save Note</button>
      </form>
    </div>
  </div>
</div>
{{/if}}
{{/each}}

<footer class="footer">
  <div class="container">
    <p>Newsie Mongo Scraper</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/js/index.js"></script>